<DOCTYPE>
    <html>
        <body>
            <div class="container">
                <div class="row"></div>
                    <a href="/">Back to Home Page</a>
                </div>
            </div>
            <h3>I think about my future and I have decided that I need to learn programing since this fiel is getting
                more and more popular and high in demand.
            </h3>
            <p>I take coding classes were i learn Java Script and REACT to write Web Applications.</p>
            <h3>Intellectual activities are certently important, but i consider physical training just as valuable.</h3>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Favourite winter activities - Skiing and Snowboarding</h4>
                        <table>
                            <thead>
                                <th>Some Benefits Of These Activities</th>
                            </thead>
                            <tr>
                                <td>Burn calories</td>
                                <td>Strengthen lower body muscles</td>
                                <td>Improve flexibility</td>
                                <td>Engage core muscles</td>
                                <td>Boost Mood</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col"></div>
                        <h4></h4>
                        <table>
                            <thead>
                                <th>Subject</th>
                                <th>Grade</th>
                            </thead>
                            <tr>
                                <td>Robotics</td>
                                <td>94</td>
                            </tr>
                            <tr>
                                <td>Coding</td>
                                <td>97</td>
                            </tr>
                                <td>Chess</td>
                                <td>99</td>
                            </tr>
                            <tr>
                                <td>Dance</td>
                                <td>86</td>
                            </tr>
                            <tr>
                                <td>Music</td>
                                <td>78</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </body>
    </html>
</DOCTYPE>