<DOCTYPE>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha3841BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
            <title>My Hobbies</title>
        </head>
        <body>
            <div class="container">
                <div class="row">
                    <a href="/">Back to Home Page</a>
                </div>
            </div>
            <br>
            <br>
            <h3>I think about my future that i will be some sort of doctor and help people.
            </h3>
            <br>
            <h5>In school I learn the human body and how it reacts to things and where all the arteries and bones are.</p>
            <br>
            <br>
            <h4>I like to make my brain work but also make my body work.</h3>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Favourite winter activities</h4>
                        <table class="table table-hover">
                            <thead>
                                <th>What I do during the cold winter:</th>
                            </thead>
                            <tr>
                                <td>Spending time with family</td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Having fun</td>
                            </tr>
                            <tr>
                                <td>playing outside with friends</td>
                            </tr>
                            
                        </table>
                    </div>
                    <div class="col">
                        <h4>Basketball during the summer time</h4>
                        <table class="table table-hover">
                            <thead>
                                <th>Some benefits of basketball:</th>
                            </thead>
                            <tr>
                                <td>make new friends</td>
                            </tr>
                            <tr>
                                <td>having fun</td>
                            </tr>
                            <tr>
                                <td>working out</td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- Bootstrap's JavaScript Files -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.js" crossorigin="anonymous"></script>
        </body>
    </html>
</DOCTYPE>