<DOCTYPE>
    <html>
        <body>
            <a href="/">Back To Main Screen</a>
            <br>
            <h1>All Posts:</h1>
            <br>
            {% for post in postsl %}
            <table>
                <thead>
                    <th>Date</th>
                    <th>Message</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{post["date"]}}</td>
                        <td>{{post["post_message"]}}</td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </body>
    </html>
</DOCTYPE>